.container-product{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #26362B;
}

.content-box-product{
    display: flex;
    justify-content: center;
    padding: 5% 0;
    margin: 0 20%;
}

.img-product{
    margin-right: 50px;
}

.text-box-product{
    text-align: start;
    width: 512px;
}

.title-product{
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    letter-spacing: 0.07em;
    font-weight: 400;
    color: #E5E5E5;
}

.paragraph-product{
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    letter-spacing: 0.07em;
    font-weight: 400;
    color: #E5E5E5;
    line-height: 25px;
}

/* Mobile responsive */

@media only screen and (max-width: 600px) {
    .container-product{
        width: 100%;
        margin: 0;
        padding: 0 0 20px 0;
        background-color: #26362B;
        text-align: start;
    }
    
    .content-box-product{
        display: block;
        justify-content: center;
        padding: 2.5% 0;
        margin: 0 10%;
        width: 100%;
    }
    
    .img-product{
        margin-right: 25px;
        margin-top: 50px;
        width: 150px;
        height: 250px;
    }
    
    .text-box-product{
        text-align: start;
        width: 80%;
    }
    
    .title-product{
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
        letter-spacing: 0.03em;
        font-weight: 400;
        color: #E5E5E5;
    }
    
    .paragraph-product{
        font-family: "Cormorant Garamond", serif;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: #E5E5E5;
        line-height: 22px;
    }
}

/* Tablet responsive */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .img-product{
        margin-right: 50px;
        margin-top: 50px;
        width: 100px;
        height: 200px;
    }
}