nav{
    text-align: start;
    width: fit-content;
    margin-left: 90vw;
    top: 200px;
    position: fixed;
}

ul{
    list-style: none;
}

li{
    margin: 20px 0;
}

.nav-link{
    color: #bdb7a9;
    cursor: pointer;
}

.nav-link:hover{
    color: #e9c61b;
    transition-duration: 0.3s;
}

/* Mobile responsive */

@media only screen and (max-width: 600px) {
    nav{
        text-align: start;
        width: fit-content;
        margin-left: 80vw;
        top: 150px;
        position: fixed;
    }
}

